<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Museum - Contact</title>
  </head>
  <header>
    <%- include ("navigation") -%>
  </header>
  <body>
    <div class="stretch">
      <h2>Contact</h2>
        <h3>The British Museum Company Limited</h3>
        <p>
        A company incorporated in England and Wales (registered number 1079888) having its registered office at:
        </p>
        <p>
          The British Museum<br>
          Great Russell Street<br>
          London<br>
          WC1B 3DG<br>
        </p>
        <p>
          and an exempt charity (by virtue of ss 3 & 96 and Schedule 2 paragraphs (p) and (w) Charities Act 1993).
        </p>
        <p>
          VAT Registration No. GB 710 521 585
          The Trustees of the British Museum are the agent of The British Museum Company Limited.
        </p>
        <h2>Credits</h2>
        <p>
          This exhibit was curated by Dr Alexandra Green, Henry Ginsburg Curator for Southeast Asia.
        </p>
        <p>
          For more information about the Myanmar collections of the British Museum please see our online collection database.
        </p>
        <p>
          Dr Green's most recent publication is Buddhist Visual Cultures, Rhetoric, and Narrative in Late Burmese Wall Paintings, 2018.
        </p>
      </div>
  </body>
  <%- include ("footer") -%>
</html>
